{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true
    }
  },
  "rules": {
    "indent": ["warn", "tab"],
    "space-unary-ops": [
      2, {
        "words": true,
        "nonwords": false
      }],
    "space-infix-ops": ["error"],
    "no-var": ["error"],
    "no-undef": ["error"]
  },
  "env": {
    "node": true,
    "es6": true
  }
}